body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }
  
  html
  {
      height: 100%;
  }
  
  #root
  {
      height: 100%;
      width: 100%;
  }

  .container {
    display: block;
  }