#wip {
    background: #fff;
    text-align: center;
}

p.intro {
    font-size: 1.5rem;
    margin: 1rem 0 1.8rem;
    line-height: 1.4;
    font-weight: 700;
}

.slate {
    color: #252a30;
}

p.statement {
    font-size: 1.6rem;
}

.gunmetal {
    color: #524e4d;
}

.one-third.column {
    width:50%;
    display: inline-table;
}

.description {
    color: #93a4aa;
    font-size: 1.2rem;
    margin: 1rem 2rem 1.8rem;
}

@media (max-width: 700px) {
    .one-third.column {   
        display: inline;
    }
}

.woundCareLinkImage:hover {
    opacity: 0.3;
    cursor: pointer;
}
  
.woundCareLinkImage {
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

.woundCareLinkContainer
{
    position: relative;
}

.woundCareLinkIframeContainer
{
    position: relative;
}

.middle {
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.loader {
position: absolute;
top: 30%;
right: 50%;
margin: 2rem -5rem;
border: 16px solid #f3f3f3;
border-radius: 50%;
border-top: 16px solid #1AAB8A;
width: 120px;
height: 120px;
-webkit-animation: spin 2s linear infinite; /* Safari */
animation: spin 2s linear infinite;
text-align: center;
}

/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}