.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 0;
}

.section{
  height: 100%;
  width: 100%;
}

.section-expertise{
  height: 10em;
  width: 100%;
}

.section-about{
  height: 3em;
  width: 100%;
}