.Expertise-container {
    background-color: white;
    color: black;
    height: 10em;
    width: 100%;
  }

.Expertise-centered {
    text-align: center;
    position: relative;
    top: 10%;
    left:50%;
    transform: translate(-50%, -50%);
}

.Expertise-CodeText {
    text-align: center;
    position: relative;
    top: 10%;
    left: 35%;
    transform: translate(-50%, -50%);
}

#codeIcon {
    position: absolute;
    width: 3em;
    height: 3em;
    top: 125%;
    left: 35%;
    transform: translate(-50%, -50%);
}