.Footer-container {
    background-color: black;
    color: white;
    height: 20%;
  }

.Footer-centered {
    text-align: center;
    position: relative;
    top: 40%;
    left:50%;
    transform: translate(-50%, -50%);
}