.Home-container {
    background-image: url('./touraj.png');
    background-repeat: round;
    background-size: cover;
    height: 30em;
    width: 100%;
    display: flex;
}
/* Centered text */
.Home-centered {
    color: white;
    font-size: 3.00em;
    text-align: left;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

#profilepic {
    position: absolute;
    border-image-repeat: repeat;
    height: 100%;
    top: 0%;
    right: 0%;
    left: 50%;
    opacity: 0.4;
    width: 50%;
}

#logo {
    position: absolute;
    width: 3em;
    height: 3em;
    top: 0%;
    left: 50%;
}