#fullscreen-hero {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 350px;
    background-color: #252a30;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.home-hero {
    background-image: url('./touraj.jpg');
}

#logo {
    position: absolute;
    width: 3em;
    height: 3em;
    top: 0%;
    left: 50%;
}

.hero-container {
    display: table;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
}

.hero-content {
    display: table-cell;
    position: relative;
    z-index: 10;
    text-align: center;
    vertical-align: middle;
}

.hero-content h1 {
    font-size: 2.3rem;
    color: #fff;
    margin-bottom: 0rem;
}