#fullscreen-hero {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 350px;
    background-color: #252a30;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.home-hero {
    background-image: url('./touraj.jpg');
}

#logo {
    position: absolute;
    width: 3em;
    height: 3em;
    top: 0%;
    left: 50%;
}