#sub-footer {
    background-color: #FED766;
    text-align: center;
    margin: 0 auto;
}

section {
    padding: 30px 0 50px;
}

.cd-modal-action {
    position: relative;
}

.cd-modal-action .btn {
    display: inline-block;
    height: auto;
    width: 15em;
    line-height: 4.0rem;
    border-radius: 5em;
    background:#1AAB8A;
    color: #252a30;
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
}