.Resume-container {
    background-color: #E2D618;
    color: black;
    height: 100%;
    width: 100%;
  }

.Resume-centered {
    text-align: center;
    position: relative;
    top: 40%;
    left:50%;
    transform: translate(-50%, -50%);
}